<!doctype html>
<html>
<head>
    <title>To-Do-List</title>
    <link href='http://fonts.googleapis.com/css?family=Days+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets\css\style1.css">
</head>
<body>
    <section class="toolbar">
    <ul>
      <li>
        <a href="#">Browse</a>
        <ul class="menu browse">
          <li><a href="#a">A</a></li>
          <li><a href="#b">B</a></li>
          <li><a href="#c">C</a></li>
          <li><a href="#d">D</a></li>
          <li><a href="#e">E</a></li>
          <li><a href="#f">F</a></li>
          <li><a href="#g">G</a></li>
          <li><a href="#h">H</a></li>
          <li><a href="#i">I</a></li>
          <li><a href="#j">J</a></li>
          <li><a href="#k">K</a></li>
          <li><a href="#l">L</a></li>
          <li><a href="#m">M</a></li>
          <li><a href="#n">N</a></li>
          <li><a href="#o">O</a></li>
          <li><a href="#p">P</a></li>
          <li><a href="#q">Q</a></li>
          <li><a href="#r">R</a></li>
          <li><a href="#s">S</a></li>
          <li><a href="#t">T</a></li>
          <li><a href="#u">U</a></li>
          <li><a href="#v">V</a></li>
          <li><a href="#w">W</a></li>
          <li><a href="#x">X</a></li>
          <li><a href="#y">Y</a></li>
          <li><a href="#z">Z</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Filter</a>
        <ul class="menu filter">
          <li>
            <input type="checkbox" id="filter-faculty" checked />
            <label for="filter-faculty">Faculty</label>
          </li>
          <li>
            <input type="checkbox" id="filter-staff" checked />
            <label for="filter-staff">Staff</label>
          </li>
        </ul>
      </li>
    </ul>
    <div class="search">
      <label for="directory-search">Search</label>
      <input type="search" id="directory-search" />
    </div>
  </section>
  <section class="directory">
    <ul>
      <li>
        <span class="name">Jane Doe</span>
        <span class="degree">PhD, ARNP</span>
        <span class="icon-briefcase">Assistant Professor</span>
        <a class="icon-envelope-alt" href="#">jdoe@example.com</a>
        <span class="icon-phone">813-555-1234</span>
      </li>
      <li>
        <span class="name">Jane Doe</span>
        <span class="degree">PhD, ARNP</span>
        <span class="icon-briefcase">Assistant Professor</span>
        <a class="icon-envelope-alt" href="#">jdoe@example.com</a>
        <span class="icon-phone">813-555-1234</span>
      </li>
      <li>
        <span class="name">Jane Doe</span>
        <span class="degree">PhD, ARNP</span>
        <span class="icon-briefcase">Assistant Professor</span>
        <a class="icon-envelope-alt" href="#">jdoe@example.com</a>
        <span class="icon-phone">813-555-1234</span>
      </li>
      <li>
        <span class="name">Jane Doe</span>
        <span class="degree">PhD, ARNP</span>
        <span class="icon-briefcase">Assistant Professor</span>
        <a class="icon-envelope-alt" href="#">jdoe@example.com</a>
        <span class="icon-phone">813-555-1234</span>
      </li>
    </ul>
  </section>
  </body>
  </html>