<!DOCTYPE html>
<html lang="en">
    <head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ac7a4b981f.js" crossorigin="anonymous"></script>
  </head>
   
  
  <header class="tracking-wide bg-white">
    <nav class="flex justify-between mt-4">
      <div class="text-xl"> 
        <a href="#" class="ml-16 mr-4 hover:text-blue-800"><i class="fas fa-bars"></i></a>
        <a href="#" class="hover:text-blue-800"><i class="fas fa-search"></i></a>
      </div> 
      <h1 class="text-2xl font-semibold italic">Glow</h1>
      <div class="text-xl"> 
        <a href="#" class="hover:text-blue-800"><i class="fas fa-user"></i></a>
        <a href="#" class="mr-16 ml-4 hover:text-blue-800"><i class="fas fa-shopping-cart"></i></a>
      </div> <!--end of left nav-->
    </nav>
    </header>
  
  <body class="tracking-wide">
  
  
    <div class="flex justify-center mt-4 text-sm">
      <a href="#" class="mx-3 hover:text-blue-700">Shop All</a>
      <a href="#" class="hover:text-blue-700">Skincare</a>
      <a href="#" class="mx-3 hover:text-blue-700">Makeup</a>
      <a href="#" class="hover:text-blue-700">Body</a>
      <a href="#" class="mx-3 hover:text-blue-700">Fragrance</a>
      <a href="#" class="hover:text-blue-700">Shop our Sets</a>
      <a href="#" class="mx-3 hover:text-blue-700">GlossiWEAR</a>
      <a href="#" class="hover:text-blue-700">Gift Shop</a>
      <a href="#" class="mx-3 hover:text-blue-700">Our Grant Program</a></div>
    
  <div class="mt-12 flex justify-between mb-8">
      <h2 class="text-2xl mx-16 font-semibold">Shop All Makeup</h2>
      
    </div>
    
    <div class="grid lg:grid-cols-4 sm:grid-cols-1 md:grid-cols-2 mx-16 gap-8">
      <div class="flex flex-col bg-gray-100">
        <img src="https://img.freepik.com/free-photo/time-organization-concept-with-planner-high-angle_23-2149046750.jpg?w=826" class="" alt="Boy Brow" style="width:736px;height:355px">
        <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
          <a href="#" class="text-lg font-medium"><b>To-Do-List</b></a>
          <a href="#" class="font-light default:text-gray-900" style="font-size: smaller;font-weight: 350;">Organize tasks efficiently with concise, intuitive todo list.</a>
        </div>
      </div>
      
      <div class="flex flex-col bg-gray-100">
        <img src="doctors.jpg" class="" alt="Cloud Paint">
        <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
          <a href="#" class="text-lg font-medium"><b>Consultation</b></a>
          <a href="#" class="font-light default:text-gray-900" style="font-size: smaller;font-weight: 350;">Access personalized advice from expert consultations for self-care guidance.</a>
        </div>
      </div>
      
      <div class="flex flex-col bg-gray-100">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTspTSd_hK_0_SdUkVLc2I_Rv4yfxiUJvj6agjLW1JhcyBypLIU" class="" alt="Generation G" style="width:736px;height:355px">
        <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
          <a href="#" class="text-lg font-medium"><b>Inbox</b></a>
          <a href="#" class="font-light default:text-gray-900"style="font-size: smaller;font-weight: 350;">Track professional responses to your requests efficiently.</a>
        </div>
      </div>
      
      <div class="flex flex-col bg-gray-100">
        <img src="https://static-assets.glossier.com/production/spree/images/attachments/000/003/883/portrait_normal/browflick_hover.jpg?1559149981=&w=600&q=80" class="" alt="Brow Flick">
        <div class="hover:text-blue-800 hover:underline flex flex-col mx-2 mt-4 mb-3">
          <a href="#" class="text-lg font-medium"><b>Medics</b></a>
          <a href="#" class="font-light default:text-gray-900" style="font-size: smaller;font-weight: 350;">Doctor's orders for your health and happiness!</a>
        </div>
      </div>
      
      
    </div>
    
  </body>

  </html>